__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
.env
.env.*
*.sqlite3
db.sqlite3
media/
staticfiles/
.vscode
.idea
.DS_Store
*.sw?
.git
.gitignore
README.md
Pipfile.lock
.mypy_cache
.pytest_cache
.coverage
htmlcov
