asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
black==26.3.1
boto3==1.42.81
botocore==1.42.81
cbor2==5.9.0
certifi==2026.2.25
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.6
click==8.3.2
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.6
daphne==4.2.1
Django==5.2.12
django-cors-headers==4.9.0
django-ses==4.7.2
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==22.0.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
jmespath==1.1.0
msgpack==1.1.2
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pillow==10.4.0
platformdirs==4.9.6
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodome==3.23.0
PyJWT==2.12.1
pyOpenSSL==26.0.0
pyotp==2.9.0
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytokens==0.4.1
qrcode==7.4.2
redis==7.4.0
requests==2.33.0
s3transfer==0.16.0
service-identity==24.2.0
six==1.17.0
smile-id-core==3.0.1
sqlparse==0.5.5
Twisted==25.5.0
txaio==25.12.2
types-requests==2.33.0.20260327
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.12.0
urllib3==2.6.3
whitenoise==6.12.0
zope.interface==8.2
